// colors

.bg-gradient-theme {
  background: #da0034;
}
.bg-gradient-theme-top {
  background: #da0034;
}
.bg-gradient-theme-left {
  background: #da0034;
}
.bg-gradient-theme-right {
  background: #da0034;
}